.path-admin-blocks-asp h2 {margin-top: 0px;}

.block_asp table.asp {margin:0;width:100%;}
.block_asp ul.block_asp_todolist {
    margin: 0;
}
.block_asp .block_asp_todolist li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 22px;
    background: url([[pix:block_asp|todo]]) no-repeat left top;
}
.block_asp .block_asp_todolist li.completed {
    text-decoration: line-through;
    background-image: url([[pix:block_asp|done]]);
}

.block-asp-panel .loading-lightbox {position:absolute;width:100%;height:100%;top:0;left:0;background-color:#FFF;min-width:50px;min-height:150px;text-align:center;opacity:0.5}
.block-asp-panel .loading-lightbox.hidden {display:none;}
.block-asp-panel .loading-lightbox .loading-icon {margin-top:120px;}
.block-asp-panel .wfk-submit {text-align:right;}
.block-asp-panel .wfk-submit .submitbutton {margin-right: 0;}

#block-asp-overview .active {background-color:#bbffcc;}
#block-asp-overview .completed {background-color:#eebbbb;}
#block-asp-overview .aborted {background-color:#bb1111;}
#block-asp-overview .historyinfo {font-size:0.8em;}
#block-asp-overview .historyinfo p {margin: 0.4em 0;}
#block-asp-overview .completeinfo {display: block; font-size:0.8em;white-space:nowrap;}
#block-asp-overview .dateinfo {display: block; font-size:0.8em;}
body.ie7 .moodle-dialogue-base .moodle-dialogue-hd .closebutton {
    float: none;
    position: absolute;
    right: 5px;
}
#page-admin-blocks-asp-manage #manage td.c2 {
    font-size: 0.8em;
}

/* Richards additions */
.block_asp textarea#wkf-comment-editor {
    display:none;
}
.block_asp div.wkf-submit input.submitbutton {
    display:none;
}

.block_asp .assesslist .assess {
    border-bottom: 2px solid #5e5e5e;
}